:root {
    --blanco: #ffffff;
    --negro: #000000;
    --azulClaro:  #55e7f8;
    --azulOscuro: #007bff;
    --gris: #ccc;
    --grisClaro: #f3f1f1;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-image: url('../img/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-108775.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Evitar que el fondo se repita */
    background-attachment: fixed; /* Hacer que el fondo esté fijo */
}

/* Ajuste de fondos */
.fondo1 {
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.fondo4 {
    background-image: url('../img/Captura de pantalla 2024-10-23 171908.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

@media (max-width: 768px) {
    .fondo4{
        margin-top: 5%;
    }
}

/* Botón "ir arriba" */
.ir-arriba {
    padding: 20px;
    color: var(--negro);
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.7;
    z-index: 1;
}

/* Centrar contenido de la barra de navegación */
.navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para enlaces del menú */
.menu {
    color: var(--blanco);
    padding: 10px; /* Ajuste en padding */
    text-decoration: none;
    font-style: italic;
    position: relative;
}

.menu:hover{
    color: var(--blanco);
}

.menu:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--azulClaro);
    left: 0;
    bottom: -5px;
    color:var(--blanco)
}

.active1 {
    color: var(--azulClaro);
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 10px;
}

/* Estilo del slider */
.slider {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite; /* Ajusta el tiempo de la animación según el efecto deseado */
    width: calc(200px * 14 * 2); /* Duplicamos el ancho para que contenga ambas copias de imágenes */
}

.slider .slide {
    width: 200px; /* Ajuste para que cada slide tenga el mismo ancho */
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 14)); /* El mismo tamaño que la mitad del contenedor */
    }
}


/* Estilos básicos del contenedor del carrusel */
.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
    max-width: 100%;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.6s ease;
}

.carousel-item img {
    width: 80%;
    height: auto;
    max-width: 80%;
    margin-left: 10%;
    margin-bottom: 5rem;
}

/* Indicadores */
.carousel-indicators {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.carousel-indicators li {
    background-color: var(--blanco);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.carousel-indicators .active {
    opacity: 1;
}

/* Media Queries para asegurar la responsividad en diferentes dispositivos */
@media (max-width: 768px) {
    .carousel{
        margin-top: 5%;
    }
    
    .carousel-indicators li {
        width: 8px;
        height: 8px;
    }

    .carousel-control {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .carousel-control.left,
    .carousel-control.right {
        width: 10%;
    }

    .carousel-indicators {
        gap: 5px;
    }
    
    .carousel-control {
        font-size: 16px;
    }
}

/* Footer */
.footer {
    background-color: var(--negro);
    color: var(--blanco);
    padding: 20px 0; /* Espaciado uniforme */
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Elementos alineados a izquierda, centro y derecha */
    align-items: center;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap; /* Para pantallas pequeñas */
}

/* Logo y copyright */
.footer-logo {
    text-align: center;
    flex: 1; /* Ocupa el centro */
}
.footer-logo-image {
    max-width: 120px; /* Tamaño reducido */
    margin-bottom: 5px;
}
.footer-logo p {
    font-size: 12px;
    color: var(--gris);
    margin: 5px 0 0; /* Espaciado ajustado */
}

/* Navegación en el footer */
.footer-nav {
    flex: 1; /* Ocupa la izquierda */
    display: flex;
    justify-content: flex-start; /* Alineación a la izquierda */
}
.footer-nav ul {
    list-style: none;
    display: flex;
    gap: 15px; /* Espaciado entre enlaces */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar relleno */
}
.footer-nav a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 14px; /* Texto más pequeño */
    transition: color 0.3s;
}
.footer-nav a:hover {
    color: var(--azulClaro);
}

/* Redes sociales */
.footer-social {
    flex: 1; /* Ocupa la derecha */
    display: flex;
    justify-content: flex-end; /* Alineación a la derecha */
    gap: 10px; /* Espaciado entre íconos */
}
.social-icon {
    color: var(--blanco);
    font-size: 16px; /* Tamaño reducido */
    transition: color 0.3s;
}
.social-icon:hover {
    color: var(--azulClaro);
}

/* Responsividad */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Elementos apilados en pantallas pequeñas */
        text-align: center;
    }
    .footer-nav {
        justify-content: center; /* Centrar enlaces en pantallas pequeñas */
        margin-bottom: 10px; /* Separación con otros elementos */
    }
    .footer-social {
        justify-content: center; /* Centrar íconos en pantallas pequeñas */
    }
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

/* CARTAS EQUIPOS*/

.card-img-top {
    height: 200px;
    object-fit: cover;
}
.jugadores {
    font-weight: bold;
    color: var(--azulOscuro);
}

.card {
    margin: auto; /* Centrar la tarjeta */
    max-width: 100%; /* Evitar que se desborde */
}

@media (max-width: 576px) {
    .card {
        width: 80%; /* Ajustar ancho en pantallas pequeñas */
    }
}

.lead{
    text-align: justify;
    color: var(--blanco);
    text-indent: 2em;
    margin: 20px 0px;
}

/* PERFIL USUARIO */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

/* Imagen de perfil */
.profile-image img {
    border-radius: 50%;
    object-fit: cover;
    width: 150px; /* Ajuste responsivo */
    height: 150px;
}

/* Sección de detalles */
.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 600px; /* Evitar que el texto se extienda demasiado en pantallas grandes */
}

.profile-details h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
    color: var(--blanco);
}

.profile-details p {
    font-size: 18px;
    color: var(--blanco);
    margin: 0;
}

/* Galería de imágenes */
.grid-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
}

#g1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#g1 img {
    width: 15rem;
    border-radius: 5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#g1 img:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/* Responsividad */
@media (max-width: 768px) {
    .profile-details h2 {
        font-size: 30px;
    }

    .profile-details p {
        font-size: 16px;
    }

    .profile-image img {
        width: 120px;
        height: 120px;
    }

    #g1 img {
        width: 12rem;
    }
}

.container-perfil {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px 10px;
  }
  
  .item-perfil:nth-child(1),
  .item-perfil:nth-child(4) {
    grid-column: 1 / 3;
  }

  .responsive-equipamiento{
    min-width: 100%;
  }

  @media (max-width: 768px) {
    .responsive-equipamiento{
        min-width: 80%;
      }
  }


  /* Sección Hero */
#hero {
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Sección Entrenamientos */
.entrenamientos-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.entrenamiento {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}

/* Estilos para la sección de sedes */
.sedes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cambiar a un diseño de 2x2 */
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

@media (max-width: 768px) {
    .sedes-grid {
        grid-template-columns: 1fr; /* Cambiar a una columna en pantallas pequeñas */
    }
}

.sede {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}

.sede:hover {
    transform: scale(1.05);
}

/* Imagen de la ciudad */
.sede img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Título de la sede */
.sede h3 {
    font-size: 1.5rem;
    margin: 15px 0 10px;
}

/* Descripción */
.sede p {
    font-size: 1rem;
    color: #666;
}


h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--blanco);
}


.info-section {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--grisClaro);
}

.info-section h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: var(--negro);
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info-box {
    text-align: center;
    max-width: 250px;
    transition: transform 0.3s ease;
}

.info-box h1 {
    font-size: 4em;
    color: #333;
    margin: 0;
}

.info-box h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.info-box p {
    font-size: 1em;
    color: #666;
}

.info-box:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.btn-border{
    border-radius: 9999px;
    border: 1px solid var(--negro);
    display: flex;
    font-size: 14px;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--negro);
}

.btn-border-claro{
    border-radius: 9999px;
    border: 1px solid var(--blanco);
    display: flex;
    font-size: 14px;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--blanco);
}

.mar-container2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 5%;
    align-items: flex-start;
    color: var(--botones);
}

.testimonios {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--grisClaro);
}

.testimonios h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 40px;
    color: var(--negro);
}

.testimonios-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    max-width: 1200px;
    margin: auto;
}

.testimonio {
    width: 30%;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    position: relative;
}

.testimonio-border{
    border: 1px solid var(--gris);
}

.cita {
    font-size: 3em;
    font-weight: bold;
    color: black;
    position: absolute;
    left: -40px;
    top: -20px;
}


/* Responsive para pantallas de hasta 768px */
@media (max-width: 768px) {
    /* Sección Hero */
    #hero {
        padding: 80px 15px;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    /* Sección Entrenamientos */
    .entrenamientos-grid {
        flex-direction: column;
        align-items: center;
    }

    .entrenamiento {
        width: 80%;
    }

    /* Sección Sedes */
    .sedes-grid {
        flex-direction: column;
        align-items: center;
    }

    .sede {
        width: 80%;
    }

    /* Sección Info */
    .info-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .info-box {
        max-width: 300px;
    }

    /* Sección Testimonios */
    .testimonios-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .testimonio {
        width: 80%;
        text-align: center;
    }

    .cita {
        font-size: 2.5em;
        left: 0;
        top: -10px;
        position: relative;
    }

    /* Tamaños de fuente */
    h2 {
        font-size: 2rem;
    }

    .info-section h2 {
        font-size: 2.2rem;
    }
}
  
  .comments {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: auto;
  }
  
  .comment {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0.5rem;
    background-color: var(--blanco);
    border-radius: 28px;
    font-family: "Varela Round", serif;
    font-weight: 700;
    padding:2rem;
    width: 25%;
  }
  
  .comment h3 {
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    text-align: start;
  }
  
  .comment p {
    font-size: 0.9rem;
    color: #555;
    text-align: start;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .comments {
        flex-direction: column;
        align-items: center;
    }

    .comment {
        width: 80%;
        margin: 1rem 0;
    }
}

/* Sección de Precios */
.pricing {
    padding: 50px 20px;
    background-color: var(--grisClaro);
}

.pricing h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--negro);
}

/* Contenedor de los planes */
.pricing-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilo de cada plan */
.plan {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.plan:hover {
    transform: scale(1.05);
}

/* Estilo del plan destacado */
.destacado {
    background: #ffcc00;
    color: #333;
}

/* Títulos de los planes */
.plan h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

/* Precio */
.price {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.price span {
    font-size: 1rem;
    color: #777;
}

/* Lista de beneficios */
.plan ul {
    list-style: none;
    padding: 0;
}

.plan ul li {
    font-size: 1rem;
    margin: 10px 0;
}

/* Responsive para móviles */
@media (max-width: 768px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        width: 90%;
    }
}